#Firstpara{
    color: rosybrown;
    border: 2px solid red;
    background-color: rgb(216, 218, 204);
    padding: 200px 20px 200px 20px;
    margin: 100px 15px;
    border-radius: 1in;
}
#Cp{
    background-color: rgb(19, 177, 169);
}

